html{
    background: black
}

h1{
    text-transform:uppercase
}

div{
    font-family:"Libre Baskerville" ;
    color: white;
    padding-top: 10px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

img{
    border: 4px solid white;
    width: 75%;
}